{% extends "base.html" %}

{% block content %}
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        
        {{ form.username_or_email.label }}<br>
        {{ form.username_or_email(size=32) }}<br>
        {% for error in form.username_or_email.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
        
        {{ form.remember() }} {{ form.remember.label }}<br>
        {{ form.submit() }}<br>
    </form>
{% endblock %}
